#tooltip {
    position: absolute;
    border-width: 15px;
    pointer-events: none;
    width:150px;
    background-color:darkturquoise;
    padding:5px;
        border-style: dotted;
        border-color: black;
};

#tooltip.hidden {
    display:none;
}

img {
    width: 80px;
};

p {
    border-right: 5px;
    margin-right: 10px;
    
}
button{
    background-color: darkturquoise;
        border-style: dotted;
        width: 250px;
        height: 75px;
        font-family: cursive;
        font-style: italic;
        font-size: 20px;
        clear:left;
        float:left;
}
h1{
    font-family: cursive;
}

body{
    background-color: azure
}
svg{
    float:left
}
